<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="path/to/your/styles.css"> <!-- Link to external CSS -->
</head>

<body>
    <%- include('partials/navigation') %>

        <div class="bg-gradient-to-r from-black via-gray-800 to-gray-600">
            <section id="hero" class="hero-section">
                <div
                    class="container flex flex-col-reverse items-center px-6 mx-auto md:flex-row space-y-5 md:space-y-0">
                    <div class="flex flex-col mb-16 md:w-1/2">
                        <h1 class="text-white text-4xl md:text-6xl font-bold text-center md:text-left leading-tight">
                            VENTA DE PERIFERICOS GAMING
                        </h1>
                        <p class="text-center text-lg md:text-2xl text-white leading-snug md:text-left mt-4 md:mt-0">
                            Eleva tu experiencia gamer con los periféricos <br class="hidden md:block"> más avanzados y
                            actualizados
                        </p>
                    </div>
                    <div class="flex justify-center w-full md:w-1/2">
                        <img src="/img/imagen5.png" alt="imagen5" class="object-contain w-4/5 md:w-3/4 lg:w-full h-auto"
                            width="800" height="800">
                    </div>
                </div>
            </section>
        </div>


        <main class="flex flex-col items-center min-h-screen text-black">
            <div class="courses-section min-h-[400px] flex flex-col items-center p-3 mt-6 mb-6">
                <h2 class="text-2xl font-bold p-1 mx-auto">TOP PERIFERICOS MAS VENDIDOS</h2>
                <label class="p-2 mx-auto">Las marcas más top en periféricos gaming, solo lo mejor para tu experiencia de juego.</label>
                <hr class="w-1/4 mx-auto border-b-2 border-gray-600 mt-2 mb-2" />
                <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
                    <!-- Cursos Establecidos Directamente en el HTML -->
                    <div class="course-card flex flex-col items-center p-3 gap-1">
                        <h3 class="text-2xl font-bold p-1 mx-auto">Logitech</h3>
                        <img src="/img/mouse.png" alt="Curso de Programación Web" class="course-image" width="300"
                            height="300">
                        <div class="text-2xl font-bold p-1 mx-auto">Logitech G502</div>
                    </div>
                    <div class="course-card flex flex-col items-center p-3 gap-1">
                        <h3 class="text-2xl font-bold p-1 mx-auto">Razer</h3>
                        <img src="/img/razer.png" alt="Curso de JavaScript" class="course-image" width="300"
                            height="300">
                        <div class="text-2xl font-bold p-1 mx-auto">Razer Viper Ultimate</div>
                    </div>
                    <div class="course-card flex flex-col items-center p-3 gap-1">
                        <h3 class="text-2xl font-bold p-1 mx-auto">Redragon</h3>
                        <img src="/img/teclado.png" alt="Curso de Python" class="course-image" width="300" height="300">
                        <div class="text-2xl font-bold p-1 mx-auto">Redragon K552</div>
                    </div>
                </div>
                <div class="courses-section min-h-[400px] flex flex-col items-center p-3 mt-6 mb-6">
                    <h2 class="text-2xl font-bold p-1 mx-auto">NUESTRAS MARCAS</h2>
                    <hr class="w-1/4 mx-auto border-b-2 border-gray-600 mt-2 mb-2" />
                    
                    <head>
                            <meta charset="UTF-8">
                            <meta name="viewport" content="width=device-width, initial-scale=1.0">
                            <title>Logos Table</title>
                            <style>
                                /* Estilos para la tabla */
                                .logo-table td {
                                    border: 3px solid #000;    /* Bordes suaves entre celdas */
                                    padding: 20px;             /* Espaciado interno en las celdas */
                                    background-color: transparent;
                                }
                                .logo-table {
                                    width: 80%;                  /* Ancho de la tabla */
                                    max-width: 1000px;           /* Ancho máximo */
                                    margin: 0 auto;              /* Centrar horizontalmente */
                                    border-collapse: collapse;   /* Quitar separación entre celdas */
                                    text-align: center;
                                    border: 3px solid #000;
                                    background-color: transparent;            /* Fondo transparente */
                                    order: 1px solid #ddd;      /* Bordes de la tabla */
                                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera */
                                }   
                                .logo-table img {
                                    max-width: 150px;          /* Limitar el tamaño de las imágenes */
                                    height: auto;              /* Mantener la proporción */
                                    display: block;            /* Centrar la imagen dentro de la celda */
                                    margin: 0 auto;            /* Centrar horizontalmente */
                                }
                            </style>
                        
                        </head>

                    <body>
                        <table class="logo-table">
                            <tr>
                                <td><img src="img/redragon-logo.png" alt="Redragon"></td>
                                <td><img src="img/hyperx-logo.png" alt="Vsg"></td>
                                <td><img src="img/logitech-logo.png" alt="Logitech"></td>
                                <td><img src="img/razer-logo.png" alt="Razer"></td>
                            </tr>
                            <tr>
                                <td><img src="img/corsair-logo.png" alt="Corsair"></td>
                                <td><img src="img/tdagger-logo.png" alt="T-Dagger"></td>
                                <td><img src="img/astro-logo.png" alt="Astro"></td>
                                <td><img src="img/fifine-logo.png" alt="Streamplify"></td>
                            </tr>
                        </table>
                    </body>

                </div>
            </div>
            </li>
            </ul>
            </div>
            </div>

            <br>
        </main>

        <div id="mostrarPeliculas">
            <!-- Aquí se mostrarán las películas dinámicamente -->
        </div>




</body>
<%- include('partials/footer') %>

</html>