<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    
    <style>
       body {
            background-color: #A3D5E5; /* Color celeste */
            color: white; /* Color de texto blanco por defecto */
            margin: 0; /* Eliminar márgenes por defecto del body */
        }
        .card {
    background-color: #2D3748; /* Color de fondo de la tarjeta */
    border-radius: 8px; /* Bordes redondeados */
    padding: 10px; /* Espaciado interno reducido */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
    transition: transform 0.2s; /* Efecto de transición */
    flex: 1 1 calc(25% - 20px); /* Cuatro tarjetas por fila */
    margin: 30px; /* Espaciado entre las tarjetas */
    max-width: 500px; /* Tamaño máximo de las tarjetas */
}

/* Media query para pantallas más pequeñas (como móviles) */
@media (max-width: 768px) {
    .card {
        flex: 1 1 calc(50% - 20px); /* Dos tarjetas por fila */
    }
}

@media (max-width: 480px) {
    .card {
        flex: 1 1 100%; /* Una tarjeta por fila en pantallas muy pequeñas */
    }
}

        
        .card img {
            max-width: 100%; /* Imagen responsive */
            border-radius: 8px; /* Bordes redondeados de la imagen */
        }
        .card-container {
            display: flex; /* Utiliza flexbox para la disposición */
            flex-wrap: wrap; /* Permite que las tarjetas se muevan a la siguiente línea */
            justify-content: center; /* Centra las tarjetas en el contenedor */
        }
        h1 {
            color: black; /* Cambiar el color del encabezado a negro */
        }
    </style>
</head>
<body>
    <%- include('partials/navigation') %>

    <main class="flex min-h-screen flex-col items-center">
        <h1 class="text-4xl font-bold text-center my-6">
            CATÁLOGO DE PRODUCTOS
        </h1>
    
        <div class="card-container">
            <div class="card">
                <img src="/img/LOGI-G502-WIRELESS2.png" alt="MOUSE LOGITECH GAMING G502 HERO" /><br>
                <h2 class="text-xl font-semibold text-center">MOUSE LOGITECH G502 HERO | 16,000 DPI | RGB</h2><br>
                <p class="text-gray-300"><strong>PRECIO: S/. 209.90<br></strong></p>
                <p class="text-gray-300"><strong>STOCK:DISPONIBLE<br></strong></p>
                <p class="text-gray-300"><strong>*5% de recargo para pagos con tarjeta(Consultar con tu vendedor)<br></strong></p>
                <p class="text-gray-300"><strong>*Precios incluyen I.G.V.<br></strong></p>
                <p class="text-gray-300"><strong>*Precios no incluyen gastos de envío<br></strong></p>
                <br>
                <p class="text-gray-300">Diseñado para un desempeño avanzado en los juegos. G502 HERO cuenta con un sensor de juegos HERO 25K con seguimiento de precisión submicrométrica, LIGHTSYNC RGB personalizable, perfiles integrados, pesos reposicionables y mucho más.</p>
                <div class="flex justify-center mt-4">
                    <a href="https://wa.me/51976783049?text=Hola%20deseo%20comprar%20el%20Polo%20Informático" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded inline-block">
                        Solicitar Compra
                    </a>
                </div><br>
            </div>
            
            <div class="card">
                <img src="/img/razer-blacshit-removebg-preview.png" alt="Auricular Razer BlackShark V2" /><br>
                <h2 class="text-xl font-semibold text-center">AUDIFONO RAZER BLACKSHARK V2 PRO WIRELESS | 3.5MM | 7.1 | WHITE EDITION</h2><br>
                <p class="text-gray-300"><strong>PRECIO: S/. 145.90<br></strong></p>
                <p class="text-gray-300"><strong>STOCK:DISPONIBLE<br></strong></p>
                <p class="text-gray-300"><strong>*5% de recargo para pagos con tarjeta(Consultar con tu vendedor)<br></strong></p>
                <p class="text-gray-300"><strong>*Precios incluyen I.G.V.<br></strong></p>
                <p class="text-gray-300"><strong>*Precios no incluyen gastos de envío<br></strong></p>
                <br>
                <p class="text-gray-300">Si competir es lo tuyo, hazlo con los Razer BlackShark V2 Pro, los auriculares ideales para esports, sin restriccioness. Con la tecnología Razer™ HyperSpeed Wireless, esta triple amenaza de nitidez de micrófono definitiva, aislamiento de sonido y audio es el arma perfecta que necesitas para llevar tu juego a lo más alto.</p>
                <div class="flex justify-center mt-4">
                    <a href="https://wa.me/51976783049?text=Hola%20deseo%20comprar%20el%20Gorro%20Informático" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded inline-block">
                        Solicitar Compra
                    </a>
                </div><br>
            </div>
        </div>
        
        <div class="card-container">
            <div class="card">
                <img src="/img/TECLADO-REDRAGON1.png" alt="TECLADO REDRAGON DRAGONBORN K630" /><br>
                <h2 class="text-xl font-semibold text-center">TECLADO REDRAGON DRAGONBORN K630 | ESPAÑOL | MECANICO | SW-RED | RGB | NEGRO</h2><br>
                <p class="text-gray-300"><strong>PRECIO: S/. 165.90<br></strong></p>
                <p class="text-gray-300"><strong>STOCK:DISPONIBLE<br></strong></p>
                <p class="text-gray-300"><strong>*5% de recargo para pagos con tarjeta(Consultar con tu vendedor)<br></strong></p>
                <p class="text-gray-300"><strong>*Precios incluyen I.G.V.<br></strong></p>
                <p class="text-gray-300"><strong>*Precios no incluyen gastos de envío<br></strong></p>
                <br>
                <p class="text-gray-300">El Dragonborn K630 no solo ofrece rendimiento, sino también estilo: disfruta de una retroiluminación RGB personalizable con efectos dinámicos que iluminarán tu setup como nunca antes. 🌈✨ Además, su construcción duradera y diseño sin bordes maximizan tu espacio de juego, perfecto para jugadores exigentes. 🖤</p>
                <div class="flex justify-center mt-4">
                    <a href="https://wa.me/51976783049?text=Hola%20deseo%20comprar%20la%20Taza%20Informática" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded inline-block">
                        Solicitar Compra
                    </a>
                </div><br>
            </div>
            
            <div class="card">
                <img src="/img/MICROFONO-HYPERX-removebg-preview.png" alt="MICROFONO HYPERX SOLOCAST" /><br>
                <h2 class="text-xl font-semibold text-center">MICROFONO HYPERX SOLOCAST | USB | NEGRO</h2><br>
                <p class="text-gray-300"><strong>PRECIO: S/. 233.90<br></strong></p>
                <p class="text-gray-300"><strong>STOCK:DISPONIBLE<br></strong></p>
                <p class="text-gray-300"><strong>*5% de recargo para pagos con tarjeta(Consultar con tu vendedor)<br></strong></p>
                <p class="text-gray-300"><strong>*Precios incluyen I.G.V.<br></strong></p>
                <p class="text-gray-300"><strong>*Precios no incluyen gastos de envío<br></strong></p>
                <br>
                <p class="text-gray-300">Perfecto para streamers, creadores de contenido y gamers, el HyperX SoloCast combina calidad de audio profesional con un diseño compacto y elegante. Su patrón de captación cardioide asegura que tu voz sea clara y nítida, eliminando ruidos no deseados para que tu audiencia solo escuche lo mejor de ti. 🎮✨.</p>
                <div class="flex justify-center mt-4">
                    <a href="https://wa.me/51976783049?text=Hola%20deseo%20comprar%20la%20Caja%20Informática" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded inline-block">
                        Más información
                    </a>
                </div><br>
            </div>
        </div>
        
            
            
            
        </div>
       
    </main><br><br>

    <%- include('partials/footer') %>
</body>
</html>
